body {
	text-align: center;
}

br {
	
}

#equalButton {
	font-size: 50px;
	display:block;
	height: 150px;
	width: 150px;
	border-radius: 50%;
	border: 1px solid black;
	margin: 0 auto;
}

#formula {
	padding: ;
}